<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pig Latinizer Results: </h1>
    <h3><%=@user_phrase.pig_latinizer%></h3>
  </body>
</html>
